@charset "UTF-8";
.container__menu {
  width: auto;
  height: 100px;
  display: flex !important;
  gap: 0px;
  padding: 40px 60px !important;
  display: flex !important;
  background: rgba(25, 0, 0, 0.5);
  background: color(display-p3 0.0846 0 0 / 0.5);
  backdrop-filter: blur(19.5px);
}

.container__menu--bar {
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
}

.navbar-toggler {
  border: none !important;
  padding: 0px !important;
  color: none !important;
}

.container__menu--items {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  border-radius: 40px;
}

.container__menu--item {
  font-family: "Poppins";
  font-size: 18px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  padding: 5px 20px !important;
  border-radius: 50px;
  transition: background-color 0.3s, border-radius 0.3s;
}
.container__menu--item:hover {
  background-color: #AC0000 !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  padding: 10px 20px !important;
}

.container__menu--item.active {
  border-bottom: 2px solid #AC0000;
  border-bottom: 2px solid color(display-p3 0.6157 0 0);
  transition: background-color 0.3s, border-radius 0.3s;
  border-radius: 0px;
}

.container__menu--btn {
  width: 179px !important;
  height: 50px !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.container__menu--btn:hover {
  background-color: #FFF !important;
  color: #1E1E1E !important;
}

.imgMenu {
  width: 50px;
  height: 50px;
}

.container__home {
  width: 100%;
  height: 100dvh;
  display: flex;
  gap: 10px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px;
}

.container__home--text {
  width: 65%;
  height: 100dvh;
  display: flex;
  gap: 10px;
  padding: 52px 50px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 20px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}
.container__home--text h1 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
}

.container__home--img {
  width: 38%;
  position: absolute;
  left: 60%;
}

.btn-home {
  width: 459px !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 10px 30px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 80%;
  left: 5%;
}
.btn-home:hover {
  background-color: #FFF !important;
  color: #1E1E1E !important;
}

.container_sobreMi {
  width: 100%;
  height: 100dvh;
  display: flex;
  gap: 0px;
  padding: 50px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  backdrop-filter: blur(19.5px);
}

.container__sobreMi--img {
  width: 50%;
  height: 100dvh;
  display: flex;
  gap: 0px;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container__sobreMi--text {
  width: 50%;
  height: 100dvh;
  display: flex;
  gap: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.container__sobreMi--text p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin: 0px;
}
.container__sobreMi--text p strong {
  font-weight: 500;
}

.container__sobreMi--text-h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.container-servicios {
  width: 100%;
  height: "";
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-servicios h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}

.container-servicios--cards {
  width: auto;
  height: auto;
  display: flex;
  gap: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-servicios--card {
  width: 100%;
  height: 371px;
  display: flex;
  gap: 50px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background: #48060A;
  background: color(display-p3 0.2581 0.0497 0.0497);
}
.container-servicios--card h3 {
  font-family: "Poppins";
  font-size: 40px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.container-servicios--card p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin: 0px;
}

.container-servicios--card-text {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container-servicios--card-img {
  width: 35%;
  aspect-ratio: 490/380;
  border-radius: 20px;
  padding: 20px;
}

.card-contenido {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.btn-servicios {
  width: 70% !important;
  height: 50px !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 13px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-servicios:hover {
  background-color: #FFF !important;
  color: #1E1E1E !important;
}

.container-cursos {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.container-cursos h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 10px;
}
.container-cursos p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #7e7d7d !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin-bottom: 30px;
}
.container-cursos .swiper {
  width: 100%;
  min-height: 380px;
  max-height: 600px;
}

.cursosSwiper {
  width: 100%;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background: rgba(20, 1, 17, 0.5333333333) !important;
  opacity: 0.5;
  width: 18px !important;
  height: 18px !important;
  margin: 6px !important;
}

.swiper-pagination-bullet-active {
  background: #AC0000 !important;
  opacity: 1;
  width: 18px !important;
  height: 18px !important;
  margin: 6px !important;
}

.swiper-slide {
  flex-shrink: 0;
  display: flex !important;
  justify-content: center;
}

.swiper-wrapper {
  display: flex !important;
  padding-bottom: 50px !important;
  gap: 10px;
  align-items: center;
}

.card-curso {
  width: 328px;
  height: 550px;
  display: flex;
  gap: 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  background: #FFF;
  background: color(display-p3 1 1 1);
  box-shadow: 0px 4px 54px 0px rgba(46, 0, 0, 0.2);
  box-shadow: 0px 4px 54px 0px color(display-p3 0.1608 0 0 / 0.2);
}
.card-curso h3 {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.card-curso p {
  font-family: "Poppins";
  font-size: 13px !important;
  color: #7e7d7d !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin: 0px;
}
.card-curso img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
  border-radius: 10px;
  align-self: stretch;
}

.swiper-slide-active img {
  filter: grayscale(0) !important; /* Elimina el filtro al pasar el cursor */
  transition: filter 0.3s ease !important; /* Añade una transición suave */
}

.card-curso--elementos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-curso {
  width: 100% !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 13px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-curso:hover {
  background-color: #620000 !important;
  color: #FFFAF7 !important;
}

.container__invitaciones {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.container__invitaciones h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}

.container__invitaciones--contenido {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 0pc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}

.container__invitaciones--text {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
}
.container__invitaciones--text p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}

.container__invitaciones--img {
  width: 100%;
  height: auto;
}

.btn-invitaciones {
  width: 60% !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  margin-top: 20px;
  padding: 13px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-invitaciones:hover {
  background-color: #620000 !important;
  color: #FFFAF7 !important;
}

.container__libros {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.container__libros h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}
.container__libros p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin: 0px;
}
.container__libros h3 {
  font-family: "Poppins";
  font-size: 49px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.container__libros .swiper {
  width: 75%;
  max-height: 680px;
}

.container__libros--compra--cards {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 40px 60px;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container__libros--descarga--cards {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container__libros--card {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  border-radius: 30px;
  flex-wrap: wrap;
}
.container__libros--card h3 {
  font-family: "Poppins";
  font-size: 15px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.container__libros--card img {
  width: 99%;
  height: auto;
  border-radius: 20px;
  align-self: stretch;
}

.btn-card {
  width: auto !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 15px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-card:hover {
  background-color: #620000 !important;
  color: #FFFAF7 !important;
}

.librosDescargaSwiper .swiper-pagination-bullet {
  background: #FFFAF7 !important;
  opacity: 0.5;
  width: 18px !important;
  height: 18px !important;
  margin: 6px !important;
}
.librosDescargaSwiper .swiper-pagination-bullet-active {
  background: #AC0000 !important;
  opacity: 1;
  width: 18px !important;
  height: 18px !important;
  margin: 6px !important;
}

.container__videos {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__videos .swiper {
  width: 100%;
  max-height: 380px;
}

.container__videos--contenido {
  display: flex;
  align-items: center;
  width: 100%;
}

.container__videos--text {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container__videos--text h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.container__videos--text p {
  font-family: "Poppins";
  font-size: 20px !important;
  color: #7e7d7d !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin-bottom: 30px;
}

.container__videos--principal {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/adornovideo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
}
.container__videos--principal iframe {
  width: 100%;
  height: 380px;
  border-radius: 11.164px;
}

.btn-videos {
  width: 459px !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 10px 30px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-videos:hover {
  background-color: #620000 !important;
  color: #FFFAF7 !important;
}

.videosSwiper {
  margin: 20px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.container__videos--card {
  width: 460px;
  height: 310px;
  display: flex;
  gap: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
  background: #FFF;
  background: color(display-p3 1 1 1);
  box-shadow: 0px 4px 54px 0px rgba(46, 0, 0, 0.1);
  box-shadow: 0px 4px 54px 0px color(display-p3 0.1608 0 0 / 0.1);
}
.container__videos--card h3 {
  font-family: "Poppins";
  font-size: 15px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.container__videos--card iframe {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  align-self: stretch;
}

.container__contacto {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 85px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.container__contacto--text {
  width: 50%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 20px !important;
  color: #7e7d7d !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}
.container__contacto--text h2 {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}
.container__contacto--text p {
  margin: 0px;
}

.container__contacto--redesSociales {
  padding-top: 20px;
}

.container__contacto--redSocial {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #1E1E1E !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}
.container__contacto--redSocial h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0px;
}
.container__contacto--redSocial div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__contacto--redSocial:hover {
  color: #1E1E1E;
  text-decoration: none;
}
.container__contacto--redSocial:hover svg {
  fill: #1E1E1E;
}

.container__contacto--form {
  width: 40%;
  height: auto;
  display: flex;
  gap: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  background: #FFF;
  background: color(display-p3 1 1 1);
  box-shadow: 0px 4px 54px 0px rgba(46, 0, 0, 0.1);
  box-shadow: 0px 4px 54px 0px color(display-p3 0.1608 0 0 / 0.1);
}
.container__contacto--form form {
  width: 100%;
}

input.form-control, select.form-select {
  display: flex;
  height: 52px !important;
  padding: 10px 20px !important;
  align-items: center !important;
  gap: 20px !important;
  align-self: stretch !important;
  border: none !important;
  border-radius: 20px !important;
  background: #FCECE7 !important;
  background: color(display-p3 0.9793 0.9289 0.9073) !important;
}

select.form-select option:hover {
  background: #AC0000 !important; /* Color de fondo al pasar el mouse */
  color: #fff !important; /* Color de texto al pasar el mouse */
}

textarea.form-control {
  display: block !important;
  width: 100% !important;
  resize: vertical;
  border: none !important;
  border-radius: 20px !important;
  background: #FCECE7 !important;
  background: color(display-p3 0.9793 0.9289 0.9073) !important;
}

.form-control::placeholder {
  color: #343434;
  color: color(display-p3 0.2039 0.2039 0.2039);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btn-submit {
  width: 120px !important;
  height: auto !important;
  background-color: #D1D1D1 !important;
  color: #1E1E1E !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 5px 30px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-submit:hover {
  background-color: #D1D1D1 !important;
  color: #1E1E1E !important;
}

.btn-active {
  width: 120px !important;
  height: auto !important;
  background-color: #AC0000 !important;
  color: #FFFAF7 !important;
  font-size: 20px !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 5px 30px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-active:hover {
  background-color: #620000 !important;
  color: #FFFAF7 !important;
}

.form-footer {
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  border-radius: 0px 0px 50px 50px;
  border: 1px solid #FFFAF7;
  border: 1px solid color(display-p3 1 1 1);
  background: rgba(255, 255, 255, 0.5);
  background: color(display-p3 1 1 1 / 0.5);
}

.container__footer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 40px;
  padding: 85px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__footer p {
  font-family: "Poppins";
  font-size: 15px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin: 0px;
}

.container__footer--social {
  display: flex;
}

.container__footer--redSocial {
  font-family: "Poppins";
  font-size: 60px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}
.container__footer--redSocial h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0px;
  line-height: 100%;
}
.container__footer--redSocial div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__footer--redSocial:hover {
  color: #FFFAF7;
  text-decoration: none;
}
.container__footer--redSocial:hover svg {
  fill: #FFFAF7;
}

.container__footer--logo {
  width: 134px;
}

.language-dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.language-selected {
  font-family: "Poppins";
  font-size: 18px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  color: #fff;
  border: 2px solid #aaa;
  border-radius: 30px;
  padding: 6px 24px;
  cursor: pointer;
  min-width: 120px;
  transition: border 0.2s, background 0.2s;
}
.language-selected .lang-arrow {
  margin-left: 10px;
  font-size: 1.1em;
}

.language-options {
  font-family: "Poppins";
  font-size: 18px !important;
  color: #FFFAF7 !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: #7e7d7d;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  min-width: 120px;
  z-index: 200;
}
.language-options li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1333333333);
  background: transparent;
  transition: background 0.2s, color 0.2s;
}
.language-options li:last-child {
  border-bottom: none;
}
.language-options li.active, .language-options li:hover {
  background: none;
  text-decoration: underline;
  text-decoration-color: #AC0000;
}

.language-dropdown.open .language-options {
  display: block;
}

.language-dropdown .lang-flag img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1333333333);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home {
  background-image: url("../img/BackgroundHome.webp");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}

#sobreMi {
  background: linear-gradient(279deg, #FCF2E1 -21.31%, #FFFAF7 77.82%);
  background: linear-gradient(279deg, color(display-p3 0.9804 0.949 0.8902) -21.31%, color(display-p3 0.9961 0.9804 0.9686) 77.82%);
}

#servicios {
  background-image: url("../img/BackAcompañamiento.webp");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}

#invitaciones {
  background: linear-gradient(279deg, #FCF2E1 -21.31%, #FFFAF7 77.82%);
  background: linear-gradient(279deg, color(display-p3 0.9804 0.949 0.8902) -21.31%, color(display-p3 0.9961 0.9804 0.9686) 77.82%);
}

#cursos {
  background: linear-gradient(279deg, #FCF2E1 -21.31%, #FFFAF7 77.82%);
  background: linear-gradient(279deg, color(display-p3 0.9804 0.949 0.8902) -21.31%, color(display-p3 0.9961 0.9804 0.9686) 77.82%);
}

#libros {
  background-image: url("../img/Backlibros.webp");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}

#videos {
  background: linear-gradient(279deg, #FCF2E1 -21.31%, #FFFAF7 77.82%);
  background: linear-gradient(279deg, color(display-p3 0.9804 0.949 0.8902) -21.31%, color(display-p3 0.9961 0.9804 0.9686) 77.82%);
  padding-bottom: 60px;
  /*  @include container_img('../img/backVideos.webp');
   background-size: cover;
   background-position: center; */
}

#contacto {
  background: linear-gradient(279deg, #FCF2E1 -21.31%, #FFFAF7 77.82%);
  background: linear-gradient(279deg, color(display-p3 0.9804 0.949 0.8902) -21.31%, color(display-p3 0.9961 0.9804 0.9686) 77.82%);
}

#footer {
  background: var(--Linear, linear-gradient(149deg, #80000C 5.32%, #200000 72.38%));
  background: var(--Linear, linear-gradient(149deg, color(display-p3 0.4566 0.0564 0.0782) 5.32%, color(display-p3 0.1098 0 0) 72.38%));
}

@media (min-width: 0px) and (max-width: 319.98px) {
  main {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__menu {
    flex-direction: column !important;
    height: 130px !important;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__menu--icon {
    justify-content: flex-end !important;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__menu--bar {
    width: 50% !important;
    background: color(display-p3 0.2581 0.0497 0.0497);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center !important;
    padding: 20px;
    z-index: 1;
  }
}

@media (min-width: 320px) and (max-width: 413.98px) {
  .container__home {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    padding: 35% 30px 80px 30px !important;
    gap: 40px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__home {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    padding: 35% 30px 80px 30px !important;
    gap: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__home {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    padding: 20% 40px 80px 40px !important;
    gap: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) and (min-width: 885px) and (max-width: 991.98px) {
  .container__home {
    gap: 40px !important;
  }
}

@media (min-width: 320px) and (max-width: 374.98px) {
  .container__home--text {
    font-size: 18px !important;
    width: 100%;
    padding: 10px !important;
    height: auto;
    padding-left: 0px;
  }
}
@media (min-width: 375px) and (max-width: 884.98px) {
  .container__home--text {
    width: 100%;
    padding-top: 80px;
    height: auto;
    padding-left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__home--text h1 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__home--text h1 {
    font-size: 28px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__home--text h1 {
    font-size: 33px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__home--text h1 {
    font-size: 55px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__home--text p {
    font-size: 18px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__home--text p {
    font-size: 20px !important;
  }
}

@media (min-width: 320px) and (max-width: 884.98px) {
  .container__home--img {
    position: static;
    width: 70% !important;
  }
}
@media (min-width: 320px) and (max-width: 884.98px) {
  .btn-home {
    position: static;
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 413.98px) {
  .container_sobreMi {
    height: auto;
    flex-direction: column;
    padding: 35% 30px 80px 30px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container_sobreMi {
    height: auto;
    flex-direction: column;
    padding: 35% 30px 80px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container_sobreMi {
    height: auto;
    flex-direction: column;
    padding: 20% 40px 80px 40px !important;
  }
}
@media (min-width: 320px) and (max-width: 884.98px) {
  .container__sobreMi--img {
    width: 100%;
    height: auto;
    padding: 5px !important;
  }
}
@media (min-width: 885px) and (max-width: 1199.98px) {
  .container__sobreMi--img {
    width: 60%;
    padding: 10px 0px;
  }
}

@media (min-width: 320px) and (max-width: 884.98px) {
  .container__sobreMi--text {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__sobreMi--text p {
    font-size: 18px !important;
  }
}
@media (min-width: 320px) and (max-width: 413.98px) {
  .container__sobreMi--text-h2 {
    font-size: 35px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__sobreMi--text-h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__sobreMi--text-h2 {
    font-size: 55px;
  }
}

@media (min-width: 320px) and (max-width: 413.98px) {
  .container-servicios {
    padding: 40% 30px 15px 30px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container-servicios {
    padding: 35% 30px 15px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 1199.98px) {
  .container-servicios {
    padding: 20% 30px 15px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-servicios h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container-servicios h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container-servicios h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container-servicios h2 {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-servicios p {
    font-size: 18px !important;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container-servicios--cards {
    padding: 25px 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 884.98px) {
  .container-servicios--card {
    height: auto;
    flex-direction: column !important;
    align-items: stretch;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .container-servicios--card {
    padding: 20px 22px !important;
    gap: 35px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-servicios--card h3 {
    font-size: 21px !important;
  }
}
@media (min-width: 375px) and (max-width: 599.98px) {
  .container-servicios--card h3 {
    font-size: 28px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container-servicios--card h3 {
    font-size: 35px !important;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .container-servicios--card h3 {
    font-size: 27px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-servicios--card p {
    font-size: 13px !important;
  }
}
@media (min-width: 375px) and (max-width: 374.98px) {
  .container-servicios--card p {
    font-size: 18px !important;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .container-servicios--card p {
    font-size: 18px !important;
  }
}
@media (min-width: 320px) and (max-width: 884.98px) {
  .container-servicios--card-img {
    width: 100%;
    order: 2;
    align-self: center;
    padding: 5px;
  }
}

@media (min-width: 320px) and (max-width: 884.98px) {
  .card-contenido {
    order: 1;
    width: 100%;
    gap: 10px !important;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .card-contenido {
    gap: 35px !important;
  }
}
@media (min-width: 320px) and (max-width: 884.98px) {
  .btn-servicios {
    order: 3;
    width: 100% !important;
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 599.98px) {
  .container-cursos {
    padding: 40% 20px 10px 20px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container-cursos {
    padding: 35% 30px 10px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 1199.98px) {
  .container-cursos {
    padding: 20% 30px 10px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-cursos h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container-cursos h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container-cursos h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container-cursos h2 {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container-cursos p {
    font-size: 18px !important;
  }
}

@media (min-width: 320px) and (max-width: 374.98px) {
  .card-curso {
    width: 190px;
    height: 445px;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .card-curso {
    width: 280px;
    height: 545px;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .card-curso h3 {
    font-size: 28px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .card-curso h3 {
    font-size: 15px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .card-curso h3 {
    font-size: 15px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .card-curso p {
    font-size: 12px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .btn-curso {
    font-size: 15px !important;
  }
}
@media (min-width: 320px) and (max-width: 413.98px) {
  .container__invitaciones {
    padding: 40% 30px 80px 30px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__invitaciones {
    padding: 35% 30px 80px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 1199.98px) {
  .container__invitaciones {
    padding: 20% 30px 80px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__invitaciones h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__invitaciones h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__invitaciones h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__invitaciones h2 {
    font-size: 55px;
  }
}

@media (min-width: 320px) and (max-width: 884.98px) {
  .container__invitaciones--contenido {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__invitaciones--text p {
    font-size: 18px !important;
  }
}

@media (min-width: 320px) and (max-width: 884.98px) {
  .btn-invitaciones {
    width: 100% !important;
    margin-top: 40px;
  }
}
@media (min-width: 320px) and (max-width: 413.98px) {
  .container__libros {
    padding: 40% 30px 10px 30px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__libros {
    padding: 35% 30px 10px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 1199.98px) {
  .container__libros {
    padding: 20% 30px 10px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 991.98px) {
  .container__libros .swiper {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__libros h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__libros h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__libros h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__libros h2 {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__libros p {
    font-size: 18px !important;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .container__libros h3 {
    font-size: 38px !important;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__libros .swiper-wrapper {
    width: 85% !important;
  }
}

@media (min-width: 320px) and (max-width: 1199.98px) {
  .container__libros--compra--cards {
    flex-direction: column !important;
  }
}

@media (min-width: 320px) and (max-width: 413.98px) {
  .container__libros--card {
    padding: 0px !important;
    width: 230px;
    height: 530px;
  }
}
@media (min-width: 414px) and (max-width: 884.98px) {
  .container__libros--card {
    padding: 20px !important;
  }
}
@media (min-width: 885px) and (max-width: 991.98px) {
  .container__libros--card h3 {
    font-size: 28px !important;
  }
}
@media (min-width: 320px) and (max-width: 413.98px) {
  .container__videos {
    flex-direction: column;
    padding: 45% 30px 10px 30px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__videos {
    flex-direction: column;
    padding: 35% 30px 10px 30px !important;
  }
}
@media (min-width: 600px) and (max-width: 991.98px) {
  .container__videos {
    padding: 25% 30px 10px 30px !important;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__videos--contenido {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 374.98px) {
  .container__videos--text h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__videos--text h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__videos--text h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__videos--text h2 {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__videos--text p {
    font-size: 18px !important;
  }
}

@media (min-width: 320px) and (max-width: 599.98px) {
  .container__videos--principal {
    padding: 0px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__videos--principal iframe {
    height: 144px;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__videos--principal iframe {
    height: 182px;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__videos--principal iframe {
    height: 286px;
  }
}
@media (min-width: 320px) and (max-width: 991.98px) {
  .btn-videos {
    width: 100% !important;
    margin-top: 40px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__videos--card {
    width: 180px;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__videos--card {
    width: 280px;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__videos--card {
    width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 991.98px) {
  .container__contacto {
    flex-direction: column;
    padding: 85px 30px;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__contacto--text {
    width: 100%;
    padding: 40px 0px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__contacto--text h2 {
    font-size: 28px !important;
  }
}
@media (min-width: 375px) and (max-width: 413.98px) {
  .container__contacto--text h2 {
    font-size: 34px !important;
  }
}
@media (min-width: 414px) and (max-width: 599.98px) {
  .container__contacto--text h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 600px) and (max-width: 884.98px) {
  .container__contacto--text h2 {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 374.98px) {
  .container__contacto--text h4 {
    font-size: 12px !important;
  }
}
@media (min-width: 375px) and (max-width: 599.98px) {
  .container__contacto--text h4 {
    font-size: 15px !important;
  }
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .container__contacto--form {
    width: 100%;
  }
  .container__contacto--form .row_form {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 991.98px) {
  .btn-submit {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 599.98px) {
  .container__footer p {
    font-size: 11px !important;
  }
}
@media (min-width: 320px) and (max-width: 599.98px) {
  .container__footer h4 {
    font-size: 14px !important;
  }
}

@media (min-width: 320px) and (max-width: 1199.98px) {
  .container__footer--social {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
